colorama==0.4.4
future==0.18.2
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nornir==3.1.1
nornir-jinja2==0.2.0
nornir-scrapli==2021.7.30
nornir-utils==0.1.2
ntc-templates==2.2.0
pkg_resources==0.0.0
PyYAML==5.4.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
scrapli==2021.7.30
scrapli-cfg==2021.7.30
scrapli-community==2021.7.30
scrapli-netconf==2021.7.30
six==1.16.0
textfsm==1.1.2
typing-extensions==3.10.0.0
