vlan {{ host["vxlan"]["vlan_id"] }}
 name {{ host["vxlan"]["vlan_name"] }}
!
interface vxlan 1
 vxlan vlan {{ host["vxlan"]["vlan_id"] }} vni {{ host["vxlan"]["vni"] }}
!
{% if host["name"]==host["vxlan"]["a_end"] %}
interface {{ host["vxlan"]["a_if"] }}
   description {{ host["vxlan"]["vlan_name"] }}
   mtu 9214
   switchport
   switchport access vlan {{ host["vxlan"]["vlan_id"] }}
   no ip address
   no ipv6 address
   no shutdown
!
{% endif %}
{% if host["name"]==host["vxlan"]["b_end"] %}
interface {{ host["vxlan"]["b_if"] }}
   description {{ host["vxlan"]["vlan_name"] }}
   mtu 9214
   switchport
   switchport access vlan {{ host["vxlan"]["vlan_id"] }}
   no ip address
   no ipv6 address
   no shutdown
!
{% endif %}
router bgp {{ host["asn"] }}
 !
 vlan {{ host["vxlan"]["vlan_id"] }}
  rd {{ host["asn"] }}:{{ host["vxlan"]["vni"] }}
  route-target both {{ host["vxlan"]["vlan_id"] }}:{{ host["vxlan"]["vni"] }}
  redistribute learned
!